/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
@font-face { 
    font-family: 'Great Vibes'; 
    src: url('../font/GreatVibes.otf');
}

@font-face { 
    font-family: 'Bowlby One'; 
    src: url('../font/BowlbyOne.otf');
}

.root{
    -fx-background-image: url("../images/menu-background.jpg");
}

.menu-button{
    -fx-background-color: rgb(17, 83, 118, 0.7);
    -fx-border-width: 4px;
    -fx-border-color: #8FB8DE;
    -fx-border-radius: 21px;
    -fx-background-radius: 21px;
    -fx-font-size: 48px;
    -fx-text-fill: #F3EDED;
}

.menu-button:hover {
    -fx-background-color: rgb(17, 83, 118, 1);
    -fx-cursor: hand;
}

.menu-title{
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 1), 10, 0.9, 0.0, 0.0);
    -fx-text-fill: #E5F7FF;
    -fx-font-size: 150px;
    -fx-font-family: 'Bowlby One'; 
}

.menu-title-4{
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 1), 10, 0.9, 0.0, 0.0);
    -fx-text-fill: #E5F7FF;
    -fx-font-size: 200px;
    -fx-font-family: 'Great Vibes';
}

.game-duo {
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain, cover;
}


.grid{
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 0, 0.9, 5, 5);
    -fx-background-color: rgb(43, 119, 159, 0.5);
    -fx-background-radius: 15px;
    -fx-border-width: 2px;
    -fx-border-color: rgb(255, 255, 255, 0.5);
    -fx-border-radius: 15px;
    -fx-padding: 20.8px;
}

.grid-column{
    -fx-spacing: 20.8px;
    -fx-padding: 10.4px;
}

.grid-column:hover{
    -fx-background-color: #8FB8DE;
    -fx-background-radius: 20px;
    -fx-cursor: hand;
}

.player-card {
    -fx-background-color: rgba(255, 255, 255, 0.2);
    -fx-border-width : 5px;
    -fx-border-color : rgba(255, 255, 255, 0.1);
    -fx-border-style : solid;
    -fx-border-radius : 30px;
    -fx-background-radius: 30px;
    -fx-color: rgb(229, 247, 255);
}
