/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
@font-face { 
    font-family: 'Great Vibes'; 
    src: url('../font/GreatVibes.otf');
}

@font-face { 
    font-family: 'Bowlby One'; 
    src: url('../font/BowlbyOne.otf');
}

.root{
    -fx-background-color: lightgray;
}

.menu-button{
    -fx-background-color: #115376;
    -fx-border-width: 4px;
    -fx-border-color: #8FB8DE;
    -fx-border-radius: 21px;
    -fx-background-radius: 21px;
    -fx-font-size: 48px;
    -fx-text-fill: #F3EDED;
}

.menu-title{
    -fx-text-fill: #362D2D;
    -fx-font-size: 150px;
    -fx-font-family: 'Bowlby One'; 
}

.menu-title-4{
    -fx-text-fill: #BA0000;
    -fx-font-size: 200px;
    -fx-font-family: 'Great Vibes';
}

.grid-column{
    -fx-background-color: blue;
}

.grid-column:hover{
    -fx-background-color: yellow;
}